@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Mooli&family=Roboto:wght@400;500;700&family=Russo+One&family=Skranji&family=Teko:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Croissant+One&family=Mooli&family=Roboto:wght@400;500;700&family=Russo+One&family=Skranji&family=Teko:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Croissant+One&family=Mooli&family=Nosifer&family=Roboto:wght@400;500;700&family=Rubik+Burned&family=Russo+One&family=Skranji&family=Teko:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Croissant+One&family=Mooli&family=Roboto:wght@400;500;700&family=Rubik+Burned&family=Russo+One&family=Skranji&family=Teko:wght@500&display=swap');

*{
    margin: 0 ;
    padding: 0;
    font-family: 'roboto',san-serif;
    /* width: 100%; */
}
nav{
    height: 80px;
    background-color: rgba(17, 16, 16, 0.767);
    margin-bottom: 0px;
    position: fixed;
    width: 100%;
    overflow: hidden;
    z-index: 1;
    /* opacity: 0.1; */
    
}
.container{
    margin: 0 auto;
    max-width: 100%;
    
}
nav .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 50px;
    height: 100%;
    
}
nav .logo a{
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-family: 'Nosifer', cursive;
    animation: neon 3s ease infinite;    
}
@keyframes neon {
    0%,
    100% {
        text-shadow: 0 0 10px #d67c28a8, 0 0 20px #ddcb78a8, 0 0 20px #dbdac5a8, 0 0 20px #ef00e3a8, 0 0 2px #fed128, 2px 2px 2px #806914;
        color: #e0c31d;
    }
    50% {
        text-shadow: 0 0 2px #800e0b, 0 0 5px #d1807d, 0 0 5px #ebe2e1, 0 0 5px #800e0b, 0 0 2px #800e0b, 4px 4px 2px #40340a;
        color: #ddeb1a;
    }
}
nav .menu ul{
    display: flex;
}
nav .menu ul li{
    list-style: none;
    margin: 0 15px;
}
nav .menu ul li a{
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    transition: all 400ms;
    letter-spacing: 1px;
}
nav .menu ul li a:hover{
    padding: 8px;
    background: #fff;
    color: #000;
    border: none;
    outline: none;
    border-radius: 5px;
    font-weight: 400;
    font-size: 18px;
}
label i{
    color: #fff;
    font-size: 20px;

}
#checking{
    display: none;
}
label {
    display: none;
}
.banner{
    height: 100%;
    position: relative;
    z-index: -1;
    margin-bottom: 0px;
    background-color: #33333381;
}
.banner img{
    margin: 0px;
}
.caption{
    position: absolute;
    top: 360px;
    left: 100px;
    font-family: 'Croissant One', cursive;
    font-size: 100px;
    font-weight: 1000;
    letter-spacing: 2px;
    /* text-shadow: 1px 1px 2px rgb(197, 171, 171), 0 0 1em blue, 0 0 0.2em blue; */
    text-align: center;
    /* color: #9ad175; */
    /* text-transform: uppercase; */
    background-image: linear-gradient(
      -225deg,
      #9281cf 0%,
      #0d93d1 29%,
      #ff1361 67%,
      #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    /* text-fill-color: transparent; */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 3s linear infinite;
    display: inline-block;
        /* font-size: 190px; */
}
@keyframes textclip {
    to {
      background-position: 100% center;
    }
  }
  .section img{
    transform: scale(.9);
    transition: .5s ease-in-out;
  }
  .section img:hover {
    transform: scale(1);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }

@media(max-width:810px){
    nav .menu ul{
        position: fixed;
        top:80px;
        left:-100%;
        /* background-color: #333; */
        background-color: rgba(15, 14, 14, 0.747);
        height: 100vh;
        width: 100%;
        display: block;
        text-align: center;
        transition: all 400ms;
    }
    nav .menu ul li{
        margin: 30px 0;
    }
    nav .menu ul li a{
        font-size: 20px;
    }
    nav .menu ul li a:hover{
        color: cyan;
        padding: unset;
    background:unset;
    border: unset;
    outline: unset;
    border-radius: unset;
    font-weight: unset;
    font-size: unset;
    }
    #checking:checked ~ ul{
        left:0%;
    }
    #checking:checked ~ label i::before{
        content: ' \f00d';
    }
    label{
        display: block;
    }
    nav .logo a{
        font-size: 30px;
    }
    .caption{
        font-size: 50px;
        top: 88px;
        left: -2px;
    }
   
}
@media(max-width:410px){
    nav{
        width: 100%;
    }
    nav .menu ul{
        position: fixed;
        top:80px;
        left:-100%;
        background-color: #333;
        height: 100vh;
        width: 100%;
        display: block;
        text-align: center;
        transition: all 400ms;
    }
    nav .logo a{
        font-size: 20px;
    }
    nav .menu ul li{
        margin: 25px 0;
    }
    nav .menu ul li a{
        font-size: 18px;
    }
    .caption{
        font-size: 20px;
        left: 10px;
    }
    
    
}

.gall{
    display: flex;
    flex-wrap: wrap;
    background-color: #33333381;
}
.section{
    /* flex-direction: row; */
    padding: 0 2px;
    /* margin-top: 0px; */
    flex: 20%;
}
img{
    width: 100%;
    margin: 1px  0;
    border-radius: 1px;
    /* padding: 0 2px; */
    /* transition: .8s ease-in-out ; */
}
@media(max-width:810px){
    .section{
        flex: 33%;
    }
}
@media(max-width:400px){
    .section{
        flex: 90%;
    }
}

.footer{
    background:#000;
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    /* position: fixed; */
    /* bottom: 0; */
    /* width: 100%; */
    /* top: 600px; */
    margin: 0 3px;
    padding: 0 3px;
    }
    
    .footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
    }
    
    .footer .row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
    }
    
    .footer .row a:hover{
    color:#fff;
    }
    
    .footer .row ul{
    width:100%;
    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }
@media(max-width:810px)  {
    .footer{
        text-align:left;
        padding:5%;
        }
        .footer .row ul li{
        display:block;
        margin:10px 0px;
        text-align:left;
        }
        .footer .row a i{
        margin:0% 3%;
        }
}  